body {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;

}

.product-card {

    color: black;
    align-items: center;
    text-align: center;
    box-shadow:0px 0px 40px grey;
    background-color: #111;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
}

.tag {
    font-size: 16px;
    color:goldenrod;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    
}



h1 {

    text-align:left;
    color:white;
    
}


.ratings {
    
    text-align:left;
}


.description {
    text-align:left;
    color:antiquewhite;

}


.price-section {
    text-align:left;
    font-weight: bold;
    color:antiquewhite;
}


.discounts {
font-size:16px;
font-weight: bold;
text-align:left;
color:darkgreen;


}

.new-price {
    font-size: 30px;
    font-weight: bold;

}

.sizes {
    text-align:left;
    font-weight: bold;
    color: white;
}

.sizes span {
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 10px;
}

.sizes span:hover {

    background-color: white;
    color:black;
    border-color:aqua;
    
}

button {
    font-size: 18px;
    border-radius: 20px;
    color:black;
    padding: 20px;
    background-color: aqua;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 25px;

    width: 100%;
    
    
}
button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}